{% extends "layout.html" %}
{% load staticfiles %}

{% block main %}
<a name="top"></a>
<div class="be-together-section mdl-typography--text-center">
  <div class="logo-font slogan">welcome to our dream</div>
  <div class="logo-font sub-slogan">now help us make it come true</div>
  <div class="logo-font learn">
     <a href="http://smart.uib.es/" target="_blank">
    	<button class="mdl-button mdl-button--colored mdl-js-button mld-button--raised">
    	  Learn more
    	</button>
    </a>
  </div>
</div>

<!-- <section id="projects" class="idea-section">
  <div class="idea-band">
	<div class="idea-band-text">
	  <div class="mdl-typography--display-2 mdl-typography--font-thin">Your ideas can become projects</div>
	  <p class="mdl-typography--headline mdl-typography--font-thin">
		Addressing our biggest challenges
	  </p>
	  <p>
		<a class="mdl-typography--font-regular mdl-typography--text-uppercase alt-link" href="">
		  See what's new&nbsp;<i class="material-icons">chevron_right</i>
		</a>
	  </p>
	</div>
  </div>
</section> -->

<section id="ideas" class="customized-section">
  <div class="customized-section-text">
	<div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">We want your ideas</div>
	<p class="mdl-typography--font-light">
		How do we get uni to be smarter?
	  <br>
    </p>
    
      <form method="POST">
          {% csrf_token %}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="title" name="title">
            <label class="mdl-textfield__label" for="title">Title of the idea</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <textarea class="mdl-textfield__input" type="text" rows="3" id="description" name="description"></textarea>
              <label class="mdl-textfield__label" for="description">Brief description</label>
              <span class="mdl-textfield__error">This field is required</span>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="email" name="email">
            <label class="mdl-textfield__label" for="email">Contact email</label>
            <span class="mdl-textfield__error">This field is required</span>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <h5 class="mdl-typography--font-light">Challenges</h5>
              <ul class="mdl-list">
                  {% for challenge in challenges %}
                  <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                      {{ challenge }}
                    </span>
                    <span class="mdl-list__item-secondary-action">
                      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-challenge-{{ forloop.counter }}">
                        <input type="radio" name="challenge" id="list-challenge-{{ forloop.counter }}" class="mdl-radio__button" value="{{ challenge }}">
                      </label>
                    </span>
                  </li>
                  {% endfor %}
                  <hr>
                  <li class="mdl-list__item">
                      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                          <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" name="whose">
                          <span class="mdl-checkbox__label">I want to help develop this idea</span>
                        </label>
                  </li>
              </ul>
          </div>
          <br>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit</button>
      </form>
      
      <hr>
  </div>
</section>

<!--
<section id="stats" class="screen-section mdl-typography--text-center">
  <a name="screens"></a>
  <div class="mdl-typography--display-1-color-contrast">Stats</div>
      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
	  <div class="mdl-card__media">
		<img src="images/more-from-2.png">
	  </div>
	  <div class="mdl-card__title">
		 <h4 class="mdl-card__title-text">Get a clean customisable home screen</h4>
	  </div>
	  <div class="mdl-card__supporting-text">
		<span class="mdl-typography--font-light mdl-typography--subhead">A clean, simple, customisable home screen that comes with the power of Google Now: Traffic alerts, weather and much more, just a swipe away.</span>
	  </div>
	  <div class="mdl-card__actions">
		 <a class="link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
		   Download now
		   <i class="material-icons">chevron_right</i>
		 </a>
	  </div>
	</div>
</section>

<section id="news" class="more-section">
  <div class="section-title mdl-typography--display-1-color-contrast">News</div>
  <div class="card-container mdl-grid">
	<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
	  <div class="mdl-card__media">
		<img src="{% static "img/more-from-1.png" %}">
	  </div>
	  <div class="mdl-card__title">
		 <h4 class="mdl-card__title-text">Title 1</h4>
	  </div>
	  <div class="mdl-card__supporting-text">
		<span class="mdl-typography--font-light mdl-typography--subhead">Subtitle 1</span>
	  </div>
	  <div class="mdl-card__actions">
		 <a class="link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
		   More
		   <i class="material-icons">chevron_right</i>
		 </a>
	  </div>
	</div>
  </div>
</section>-->
{% endblock %}
