<footer class="footer mdl-mega-footer">
	<div class="mdl-mega-footer--top-section">
		
		<div class="mdl-mega-footer--right-section">
		  <a class="mdl-typography--font-light" href="#top">
			Back to Top
			<i class="material-icons">expand_less</i>
		  </a>
		</div>
		
	<!-- <div class="mdl-mega-footer--left-section">
		<button class="mdl-mega-footer--social-btn"></button>
		&nbsp;
		<button class="mdl-mega-footer--social-btn"></button>
		&nbsp;
		<button class="mdl-mega-footer--social-btn"></button>
	</div>  -->

	<div class="mdl-mega-footer--middle-section">
		<div class="mdl-mega-footer--drop-down-section">
		  <h1 class="mdl-mega-footer--heading">Where the hearth is</h1>
		  <ul class="mdl-mega-footer--link-list">
			<li><a href="#">Universitat de les Illes Balears (UIB)</a></li>
		  </ul>
		</div>
		
		<div class="mdl-mega-footer--drop-down-section">
		  <h1 class="mdl-mega-footer--heading">Intensely colaborating</h1>
		  <ul class="mdl-mega-footer--link-list">
			<li><a href="#">Daniel C. Wahl</a></li>
		  </ul>
		</div>
		
		<div class="mdl-mega-footer--drop-down-section">
		  <h1 class="mdl-mega-footer--heading">Contact</h1>
		  <ul class="mdl-mega-footer--link-list">
			<li><a href="mailto:hello@uib.eu">hello AT uib.eu</a></li>
			<li>+34 ------</li>
		  </ul>
		</div>

	</div>
</div>
	
	<div class="mdl-mega-footer--bottom-section">
	  <!-- <a class="link link-menu mdl-typography--font-light" id="work-dropdown">
		Work with us
		<i class="material-icons">arrow_drop_up</i>
	  </a>
	  <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="work-dropdown">
		<li class="mdl-menu__item">Item 1</li>
	  </ul> -->
	  <a class="link link-menu mdl-typography--font-light" id="students-dropdown">
		Students
		<i class="material-icons">arrow_drop_up</i>
	  </a>
	  <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="students-dropdown">
		<li class="mdl-menu__item">
			<a class="mdl-navigation__link" href="https://github.com/SmartUIB" target="_blank">Open Source Projects</a>
		</li>
	  </ul>
	  <!-- <a class="link mdl-typography--font-light" href="">Blog</a> -->
	  <!-- <a class="link mdl-typography--font-light" href="">Privacy Policy</a> -->
	  <span class="mdl-typography--font-light">&copy; 2016 Universitat de les Illes Balears</span>
	</div>
</footer>